#itemlist{
    margin-top: 1em;
    text-align: left;
}

#item{
    margin: 1em 0;
    border: 1px thin gray;
}

#item-image{
    border: 1px solid black;
    margin:  0 1em 0 0 ;
    height: 6em;
    width: 6em;
    border-radius: 10%;
    display: inline-block;
    text-align: center;

}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#item img {
    height: 5.4em;
    width: 5.4em;
    vertical-align: middle;
}

#item p {
    margin: 0 .5em;
    display: inline;
    font-size: x-large;
    font-weight: 400;
}